.mural {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 1rem 0 2rem;
}

.d-flex{
  font-size: 1.5rem;
  color: #154580;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.botao-adicionar{
  display: flex;
  justify-content: center;
  padding: 3px;
  width: 300px;
  background-color: #154580;
  border: 1px solid #154580;
  border-radius: 5px;
}

.sem-pensamentos {
  text-align: center;
  padding: 2rem 0 5rem;
}
